*{
  padding: 0px;
  margin: 0px;
}


/* Add a black background color to the top navigation */
.topnav {
  position: relative;
  background-color: black;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav h2 {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 5px 5px;
  font-size: 16px;
}


/* Centered section inside the top navigation */
.topnav-centered h2 {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}


#mid{
  text-align: center;
  background-color: black;
  color: white;
  width: 90vw;
}

#right{
  background-color: black;
  color: white;
  float: right;
  display: inline;
  width: 10vw;
}


.navbar h3{
  text-align: right;
}

.middle{
  height: 90vh;
  /* background-color: rgb(83, 82, 82); */
}


.footer
{
  height: 5vh;
  /* background-color: black; */
}
/* 
#content{
  height: 95vh;
  display: flex;
  flex-direction: row;
} */

/*-----------------video-------------------*/

#content {
  display: grid;
  justify-content: center;
  align-content: center;
  height: 90vh;
  background-color: rgb(49, 49, 49);
  grid-template-columns: repeat(2, 50%);
  align-items: center;
}

video {
  width: 90%;
  height: 90%;
  /* object-fit: var(--video-object-fit);
  border: 5px solid transparent; */
  display: flex;
  flex-direction: column;
  object-fit: cover;
  margin: 1rem;
}
video:fullscreen {
  object-fit: contain;
}

/* #myVideo{
  object-fit: cover;
} */

.one {
  width: 100vw;
  height: 90vh;
  align-items: center;
  justify-content: center;
  --video-object-fit: cover;
  margin: auto;
}
.one video{
  margin: 1rem auto;
  padding-top: 1rem;
}
.two {
  width: 50vw;
  height: 90vh;
  --video-object-fit: cover;
  /* --video-object-fit: contain; */
}
.two video{
  margin: 2rem auto;
  justify-content: center;
  align-items: center;
  
}

.three video{
  margin: 1rem auto;
  justify-content: center;
  align-items: center;
}

.four video{
  margin: 1rem auto;
  justify-content: center;
  align-items: center;
}

.three {
  width: 50vw;
  height: 45vh;
  --video-object-fit: cover;
  margin: 0px auto;
  justify-content: center;
  align-items: center;
}


.four {
  width: 50vw;
  height: 45vh;
  --video-object-fit: cover;
  justify-content: center;
  align-items: center;
}

/*-------Dropdown button-------------*/

.dropbtn{
  color: white;
}

.drop-wrapper{
  position: relative;
}

.drop-menu{
  display: none;
  position: absolute;
  width: 160px;
  background-color: black;
  color: white;
}


.drop-menu button{
  font-size: 1rem;
  font-weight: bold;
  color: white;
}



.dropup{
  bottom: 100%;
  
}
#moreButton{
  font-size: 1.5rem;
}


.show{
  display: block;
}

/*----------*/



#showButton:hover{
  color: green;
}

/*--------*/

#messageButton:hover{
  color: green;

}
/*----------*/

#copyButton:hover{
  color: green;
}

/*------------------Message---------------*/
/*In order to make the msg box on front of screen*/

:root {
  --msger-top: 50%;
  --msger-left: 50%;
  --msger-height: 436px;
  --msger-width: 240px;
}



.msg {
  
  z-index: 10;
  position: absolute;
  /* center screen */
  top: var(--msger-top);
  left: var(--msger-left);
  transform: translate(-50%, -50%);
  height: var(--msger-height);
  width: var(--msger-width);
  
  border:2px solid white;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  display: none;
}
.msg-header{
  height: 25px;
  background-color: black;

}
.msg-content{
  height: 375px;
  background-color: grey;
  overflow: auto;
  color: white;
  text-align: center;

}
.msg-footer{
  height: 36px;
  background-color: black;

}

#sendButton{
  background-color: white;
  padding: 4px 8px;
  float: right;
  margin: 5px;
  border-radius: 1px ;
  font-weight: bold;
  
}

#sendMessage{
  padding: 3px 6px;
  margin-right: 5px;
  margin: 5px 0px 0px 5px;
  outline: none;

  
}

#closeChat{
  background-color: white;
  margin: 0px auto;
  padding: 5px 102px;
  font-weight: bold;
}


.message{
  background-color: rgb(211, 204, 204);
  width: 70%;
  padding: 7px;
  margin: 5px 10px;
  border: 2px solid black;
  border-radius: 10px;
  color: black;
}
.left{
  float: left;
  clear:both;
  word-break: break-all;
  word-wrap: wrap;
  text-align: left;
  
}

.right{
  float: right;
  clear:both;
  background-color: greenyellow;
  word-break: break-all;
  word-wrap: wrap;
  text-align: left;
}