*{
  padding: 0px;
  margin: 0px;
}


/* Add a black background color to the top navigation */
.topnav {
  position: relative;
  background-color: black;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav h2 {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 5px 5px;
  font-size: 16px;
}


/* Centered section inside the top navigation */
.topnav-centered h2 {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}

/* Responsive navigation menu - display links on top of each other instead of next to each other (for mobile devices) */
/* @media screen and (max-width: 600px) {
  .topnav a, .topnav-right {
    float: none;
    display: block;
  }

  .topnav-centered a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
} */


#mid{
  text-align: center;
  background-color: black;
  color: white;
  width: 90vw;
}

#right{
  background-color: black;
  color: white;
  float: right;
  display: inline;
  width: 10vw;
}


.navbar h3{
  text-align: right;
}

.middle{
  height: 90vh;
  /* background-color: rgb(83, 82, 82); */
}


.footer
{
  height: 5vh;
  /* background-color: black; */
}
/* 
#content{
  height: 95vh;
  display: flex;
  flex-direction: row;
} */

#content {
  display: grid;
  justify-content: center;
  align-content: center;
  height: 90vh;
  background-color: rgb(49, 49, 49);
  grid-template-columns: repeat(2, 50%);
  align-items: center;
}

video {
  width: 90%;
  height: 90%;
  /* object-fit: var(--video-object-fit);
  border: 5px solid transparent; */
  display: flex;
  flex-direction: column;
  object-fit: cover;
  margin: 1rem;
}
video:fullscreen {
  object-fit: contain;
}

/* #myVideo{
  object-fit: cover;

} */

.one {
  width: 100vw;
  height: 90vh;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.one video{
  margin: auto;
  padding: 2rem;
}
.two {
  width: 50vw;
  height: 90vh;
  --video-object-fit: cover;
  /* --video-object-fit: contain; */
}
.two video{
  margin: 2rem auto;
  justify-content: center;
  align-items: center;
  
}

.three {
  width: 50vw;
  height: 45vh;
  --video-object-fit: cover;
  margin: 0px auto;
}


.four {
  width: 50vw;
  height: 45vh;
  --video-object-fit: cover;
}




.dropbtn{
  color: white;
}

.drop-wrapper{
  position: relative;
}

.drop-menu{
  display: none;
  position: absolute;
  width: 100px;
  background-color: white;
  color: black;
}


.drop-menu button{
  font-size: 2rem;
  font-weight: bold;
}



.dropup{
  bottom: 100%;
  
}
#moreButton{
  font-size: 1.5rem;
}


.show{
  display: block;
}